! XTerm configuration
XTerm*faceName: JetBrainsMono Nerd Font
XTerm*faceSize: 11
XTerm*renderFont: true
XTerm*utf8: 2
XTerm*locale: true

! Colors (VT100 prefix to override system app-defaults)
XTerm*VT100*background: black
XTerm*VT100*foreground: #FFB86C
XTerm*cursorColor: white
XTerm*VT100*color0: black
XTerm*VT100*color1: #ff5555
XTerm*VT100*color2: #50fa7b
XTerm*VT100*color3: #f1fa8c
XTerm*VT100*color4: #6272a4
XTerm*VT100*color5: #ff79c6
XTerm*VT100*color6: #8be9fd
XTerm*VT100*color7: white
XTerm*VT100*color8: #555555
XTerm*VT100*color9: #ff5555
XTerm*VT100*color10: #50fa7b
XTerm*VT100*color11: #f1fa8c
XTerm*VT100*color12: #6272a4
XTerm*VT100*color13: #ff79c6
XTerm*VT100*color14: #8be9fd
XTerm*VT100*color15: white
